.betsList {
  width: 95%;
  margin: auto;
  font-family: "Varela Round", "Comfortaa", sans-serif;
}

.betsList h1 {
  color: #e7dfdd;
  padding: 1.5vh 0;
  font-size: 27px;
}

.betsList table {
  margin-bottom: 5vh;
}

.betsList th {
  margin-bottom: 5vh;
}

thead {
  color: #fff;
}

tbody tr:nth-child(odd){
  background-color: #116466;
  color: #fff;
  font-size: 14px;
}

tbody tr:nth-child(even){
  background-color: #d1e8e2;
  color: rgb(104, 99, 99);
  font-size: 14px;
}

.greenBet {
  background-color: #98fb98;
  /* opacity: 0.75; */
}

.redBet {
  background-color: #ffb2b2;
}
