/* Hopepage CSS, route exact = "/" */
.homepage {
  width: 99.5vw;
  height: 91vh;
  font-family: "Varela Round", "Comfortaa", sans-serif;
}

.homepageImg {
  max-width: 100%;
  height: 80vh;
  overflow: hidden;
  object-fit: cover;
}

.homeBackground {
  margin-top: 0;
  width: 100%;
}

.homeText {
  margin-top: 0;
  height: 8vh;
  font-size: 35px;
  background-color: #000;
  padding-top: 3vh;
  text-align: center;
  color: white;
}
