.loginContainer {
  display: flex;
  width: 99vw;
  height: 88vh;
  font-family: "Varela Round", "Comfortaa", sans-serif;
}

.loginForm {
  background-color: #131313;
  color: #e7dfdd;
  width: 30vw;
  padding: 1vh 1vw;
  margin: auto;
  font-size: 1em;
}

.loginForm hr {
  border: 1px solid rgb(236, 103, 15);
  
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  max-width: 38vw;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 1em;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

button:hover {
  opacity: 1;
}

.loginbtn {
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 12vw;
  opacity: 0.9;
  display: block;
  margin: 5vh auto;
  font-family: "Varela Round", "Comfortaa", sans-serif;
  background-color: rgb(236, 103, 15);
  font-size: 1em;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 800px) {
  .loginForm {
    background-color: white;
    width: 85vw;
    /* height: 80vh; */
    padding: 2vh 4vw;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
  }

  input[type="text"],
  input[type="password"] {
    max-width: 77vw;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  .loginbtn {
    width: 80vw;
  }
}
